*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.div1{
    width: 250px;
    height: 100px;
    background-color: red;
    margin-bottom: 40px;
    animation-name: change;
    animation-duration: 2s;
    position: absolute;
    left: 0;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes change{
    from{
     left: 0;
    }
    to{
    left: 1277px;
    
    }

}
.div2{
    margin-top: 120px;
    position: absolute;
    right: 0;
    width:250px ;
    height: 100px;
    background-color: blue;
    float: right;
    animation-name: back;
    animation-duration: 2s;
    animation-direction: reverse;
    animation-fill-mode: forwards;
    animation-delay: 4s;
   
   
}
@keyframes back{
    from{
     right: 1277px;
    }
    to{
    right: 0;
    }

}
.div3{
    margin-top: 240px;
    width: 250px;
    height: 100px;
    background-color: red;
    margin-bottom: 40px;
    animation-name: change;
    animation-duration: 2s;
    position: absolute;
    left: 0;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 6s;

}
@keyframes change{
    from{
     left: 0;
    }
    to{
    left: 1277px;
    
    }

}

.div4{
    margin-top: 360px;
    position: absolute;
    right: 0;
    width:250px ;
    height: 100px;
    background-color: blue;
    float: right;
    animation-name: back;
    animation-duration: 2s;
    animation-direction: reverse;
    animation-fill-mode: forwards;
    animation-delay: 8s;
   
}
@keyframes back{
    from{
     right: 1277px;
    }
    to{
    right: 0;
    
    }

}
.div5{
    margin-top: 480px;
    width: 250px;
    height: 100px;
    background-color: red;
    margin-bottom: 40px;
    animation-name: change;
    animation-duration: 2s;
    position: absolute;
    left: 0;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 10s;
}
@keyframes change{
    from{
     left: 0;
    }
    to{
    left: 1277px;
    
    }

}
.div6{
    margin-top: 600px;
    position: absolute;
    right: 0;
    width:250px ;
    height: 100px;
    background-color: blue;
    float: right;
    animation-name: back;
    animation-duration: 2s;
    animation-direction: reverse;
    animation-fill-mode: forwards;
    animation-delay: 12s;

}
@keyframes back{
    from{
     right: 1277px;
    }
    to{
    right: 0;
    
    }

}